.profile-container {
    display: grid;
    grid-template-columns: 0.5fr 1fr;
    align-items: center;
    justify-self: center;
    width: 80%;
    margin: 0 auto;
    height: 90vh;
    background-color: var(--brown);
}

.profile-content {
    justify-self: start;
    margin-left: 20px;
    color: var(--white);
    width: 80%;
}

#main-img-pf {
    height: 80%;
    width: 80%;
}

/* Mobile responsive */
@media screen and (max-width: 768px) {
    .profile-container {
        display: grid;
        grid-template-columns: auto;
        align-items: center;
        justify-self: center;
        width: 90%;
        margin-bottom: 2rem;
        height: auto;
        background-color: var(--brown);
    }

    .profile-content {
        justify-self: center;
        color: var(--white);
        width: 80%;
        margin: 0;
    }

    .profile-content h1 {
        font-size: 2.5rem;
        text-align: center;
    }

    .profile-content p {
        margin-top: 1rem;
        font-size: 1.5rem;
        text-align: center;
    }

    #main-img-pf {
        margin-left: 15%;
        height: 70%;
        width: 70%;
    }
}

@media screen and (max-width: 480px) {
    .profile-container {
        height: auto;
    }
    
    .profile-content {
        text-align: center;
    }

    .profile-content h1 {
        font-size: 2.8rem;
    }

    .profile-content p {
        margin-top: 2rem;
        font-size: 1.5rem;
        
    }

    #main-img-pf {
        margin-left: 15%;
        height: 70%;
        width: 70%;
    }
}